.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage-girl {
  position: absolute;
  bottom: 1%;
  left: 60%;
  height: 40vmin;
  z-index: 2;
}
.Homepage-redballoon {
  position: absolute;
  left: 43%;
  top: 30%;
  height: 30vmin;
  z-index: 1;
}
.Homepage-blackballoon1 {
  position: absolute;
  left: 47%;
  top: 10%;
  height: 30vmin;
  z-index: 1;
}
.Homepage-blackballoon2 {
  position: absolute;
  left: 30%;
  top: 15%;
  height: 30vmin;
  z-index: 1;
}

.Culture-Text {
  position: absolute;
  left: 2%;
  bottom: 20%;
  height: 15vmin;
  z-index: 3;
}
.Grab-Text {
  position: absolute;
  left: 2%;
  bottom: 2.5%;
  height: 15vmin;
  z-index: 3;
}
.Music-Text {
  position: absolute;
  left: 45.2%;
  top: 35%;
  height: 2.5vmin;
  z-index: 3;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.App-header {
  background-color: #FFFFEF;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
